.idea
*.sln.DotSettings.user
*.csproj
*.sln
*/Assets/Plugins/Editor.meta
*/Assets/Plugins/Editor/JetBrains.meta
JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta

[Bb]uild
Library
obj
Temp
Logs
.gradle/

.DS_Store

~$*.xlsx
~$*.xls

packages-lock.json

.vs
*/.vs/
level-editor/export/1.1.16.bytes

*/UserSettings/*
